<div class="footer">
 <div class="footer-links">
  <a href="mailto:jean-maximilien.roux@outlook.fr"><i class="fas fa-envelope"></i></a>
  <a href="https://www.linkedin.com/in/jean-maximilien-roux-59a89643/?originalSubdomain=ch"><i class="fab fa-linkedin"></i></a>
</div>
<div class="copyright">
  Copyright - Investir - Tous droits réservés
</div>
</div>
</div>

