<div class="container">
<div class="about">
 La France n'a pas préparé l'avenir de sa jeunesse. Depuis plus de quarante ans, depuis que les premières secousses économiques sont réapparues, nos aînés n'ont eu de cesse de protéger leurs propres intérêts, au détriment de leurs enfants. Alors aujourd'hui, non seulement les jeunes sont massivement touchés par le chômage, la précarité et la pauvreté, mais ils devront aussi rembourser une dette accumulée par leurs aînés qui est astronomique et qui a servi essentiellement à préserver de vieux privilèges. C'est un désastre économique et moral.<br> Je propose à toute la jeunesse de faire le constat de cette situation pour en faire quelque chose. Je formule ici des conseils pour les jeunes, pour rétablir les égalités entre générations, pour préparer l'avenir de nos futurs enfants, donc l' avenir de la France.</div>
</div>
