<div class="container">
  <h2>Concrêtement, comment atteindre l'indépendance financière?</h2>
<div class="about">
Je m'appelle Jean-Maximilien et je te présente sur ce site comment démarrer dans tout type d'investissement. <br><br> Pas de villa ni de piscine à débordement (louées) ici pour te vendre des formations, simplement un partage, je l'espère, de bons conseils. <br><br> Ces derniers s'appuyent sur mes connaissances acquises durant mon Master en Finance, sur mes expériences professionnelles dans le monde de la finance mais aussi et surtout sur mes expériences personnelles en tant qu'investisseur. <br><br> L'objectif est de t'aider, avec des cas concrêts, à te lancer dans l'investissement et à atteindre l'indépendance financière.
</div>
