.body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem
}


.body-text {
  padding-top: 10px;
  margin-top: 10px;
  color: black;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  }

.container {
  padding: 20px;
}
