.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-bottom: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-product img {
  width: 100px;
  height: 120px;
  background: white;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  width: 1010px;
  height: 120px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-search {
  input {
    border: gray solid 1px;
    height: 50px;
  }
}

.form-control {
  border: none;
}

.submit-btn {
  background-color: #CCCCCC;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  max-height: 30px;
  min-height: 30px;
  width: 130px;
  border: none;
  border-radius: 0;
  margin-bottom: 36px;
  &:hover {
    background-color: $gray;
  }
}
