.form-create {
  grid-column: 1 / 3;
  padding: 20px;
  margin: 0 auto;
  input {
    border: 2px solid $gray;
    height: 50px;
  }
  label {
    color: $gray;
  }
  textarea {
    border: 2px solid $gray;
  }
  select {
    border: 2px solid $gray;
    height: 50px;
  }
}
