<div class="container">
  <h3>Modifie le commentaire</h3>
  <%= render "form", review: @review %>
  <%= link_to article_path(@review.article_id), class: "back-btn" do %>
      <i class="far fa-arrow-alt-circle-left"></i>
    <% end %>
</div>

